* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 246, 246);
    padding: 20px;
}


/* Wrapper */
.wrapper{
    padding: 16px;
}
/* grid systems */

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .column.side,
    .column.middle {
        width: 100%;
    }
}












h1 {
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
    padding: 7px;
    color: white;
}




/* Table */
.box{
    display: none;
    background-color: red;
    height: 170px;
    width: 200px;
    position: absolute;
}

#table th{
    font-size: 10px;
    margin: 10px;
}
th{
    margin-left: 10px !important;
    color: #333333;
    /* text-align: end; */
    padding: 7px;

}

button{
    width: 100%;
    margin-top: 119px;
    /* margin-left: 68px; */
    padding: 6px 10px;
    border: none;
}

.hove-btn{
    margin-left: 90px;
    text-decoration: none;
    padding: 7px;
    border: 1px solid #333333;
}

.hove-btn:hover .box{
    display: block;
    margin-left: 90px;
}